@using Login
@inherits Microsoft.AspNetCore.Components.LayoutComponentBase

<CascadingAuthenticationState>
    <div class="page">
        <div class="sidebar">
            <NavMenu/>
        </div>

        <main>
            <div class="top-row">
                <LoginButtons/>
            </div>

            <article class="content px-4">
                @Body
                <AuthorizeView Roles="user">
                    <Authorized>
                        <Profile />
                    </Authorized>
                </AuthorizeView>
            </article>
        </main>
    </div>
</CascadingAuthenticationState>