@inherits Microsoft.AspNetCore.Components.LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using Login

<CascadingAuthenticationState>
    <div class="page">
        <div class="sidebar">
            <NavMenu/>
        </div>

        <main>
            <div class="top-row px-4">
                <LoginButtons/>
            </div>
            
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</CascadingAuthenticationState>
