@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">VIA Bibliotek</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Hjem
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="BookCatalog">
                <span class="oi oi-paperclip" aria-hidden="true"></span> Bog Katalog
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Contact">
                <span class="oi oi-zoom-in" aria-hidden="true"></span> Kontakt
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="About">
                <span class="oi oi-paperclip" aria-hidden="true"></span> Om
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
                @if (isLibrarian)
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="ViewUsers">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Brugere
                        </NavLink>
                    </div>
                }
                else
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="Profile">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Profil
                        </NavLink>
                    </div>
                }
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool isLibrarian = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        isLibrarian = user.IsInRole("Librarian");
    }

}