@page "/About"
<div class="about-box">
    <h3 style="text-align: center">Om</h3>

    <h3>Om Vores Bibliotek</h3>

    <div>
        <p>Velkommen til vores bibliotek! Vi er dedikerede til at skabe et imødekommende og berigende miljø for læsere i alle aldre. Her er nogle nøgleaspekter af vores bibliotek:</p>

        <h4>Vores Mission</h4>
        <p>Vores mission er at fremme kærligheden til læsning og læring i vores samfund. Vi stræber efter at tilbyde adgang til en mangfoldig samling af bøger og ressourcer, der imødekommer interesser og behov hos vores brugere.</p>

        <h4>Tjenester</h4>
        <p>Vi tilbyder en række tjenester, herunder:</p>
        <ul>
            <li>Lån og returnering af bøger</li>
            <li>Adgang til e-bøger og digitale ressourcer</li>
            <li>Læseprogrammer og arrangementer for alle aldre</li>
            <li>Fællesskabsudvikling og engagement</li>
        </ul>

        <h4>Faciliteter</h4>
        <p>Vores bibliotek tilbyder komfortable læseområder, studiepladser og computerfaciliteter. Vi stræber efter at skabe en atmosfære, der opmuntrer til udforskning og læring.</p>

        <h4>Arrangementer og Programmer</h4>
        <p>Hold øje med vores kommende arrangementer og programmer, herunder bogklubber, forfatterforedrag og uddannelsesværksteder. Vi tror på at skabe et fællesskabsfølelse gennem fælles litterære oplevelser.</p>
    </div>
</div>

<div class="container">
    <div class="contact-box">
        <h4>Kontakt Os</h4>
        <p>Tøv ikke med at kontakte os med eventuelle spørgsmål eller forespørgsler:</p>
        <address>
            VIA Bibliotek <br/>
            Banegårdsgade 2, 8700 Horsens<br/>
            Banegårdsgade 2, 8700 Horsens<br/>
            <abbr title="Telefon">Tlf:</abbr> +45 7168189<br/>
            <strong>Email:</strong> <a href="Oumar:313599@via.dk">313599@via.dk</a>
        </address>
    </div>
</div>


@code {
}