@page "/ContactUs"
<h3>Contact Us</h3>

<div class="container">
    <div class="contact-box">
        <address>
            Gruppe number 7<br />
            Banegårdsgade 2, 8700 Horsens<br />
            <abbr title="Phone">P:</abbr>
            +45 71681890
        </address>
    </div>

    <div class="contact-box">
        <address>
            <strong>Support:</strong> <a href="Oumar:313599@via.dk">313599@via.dk</a><br />
            <strong>Support:</strong> <a href="mailto:support@example.com">support@example.com</a><br />
        </address>
    </div>
</div>

@code {
    
}