@page "/"

<PageTitle>Index</PageTitle>
<div style="text-align: center;">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDcSGDOS0hkk5shiEcujGF_I7umVEjZ54NPw&usqp=CAU" style="height: 150px; border-radius: 90%; border: 10px solid #121236;">
</div>
<h1 align="center">VIA bibliotek </h1>
<h4 align="center"> Velkommen til dit nye bibliotek.</h4>


<img src="/Image/JMF96ETfn1kSViVnUou1Z0XIDwWcPpT5mrPc7-ytpAc.jpg" asp-append-version="true" width="1000px" style="display: block;margin-left: auto;margin-right: auto;" />




<SurveyPrompt Title="How is Blazor working for you?"/>