@page "/"

<PageTitle>Index</PageTitle>

<h1 align="center">VIA bibliotek </h1>
<h4 align="center"> samling</h4>

Velkommen til dit nye bibliotek.

<img src="/Image/JMF96ETfn1kSViVnUou1Z0XIDwWcPpT5mrPc7-ytpAc.jpg" asp-append-version="true" width="1000px" style="display: block;margin-left: auto;margin-right: auto;" />

<img src="https://html.sammy-codes.com/images/small-profile.jpeg" style="height: 150px; border-radius: 90%; border: 10px solid #3d3d93;">



<SurveyPrompt Title="How is Blazor working for you?"/>