@page "/Profile"
@using HttpClients.ClientInterfaces
@using Microsoft.AspNetCore.Components
@using Newtonsoft.Json
@using System.Security.Claims
@using BlazorWASM.Services

@inject IUserService userClient
@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>Profil</h3>
<AuthorizeView>
    <Authorized>
        <div class="card">
            <div class="card-body">
                <p>
                    <strong>Email: </strong>@userClaims.Identity?.Name
                </p>
                <p>
                    <strong>Navn: </strong>@userClaims.FindFirst("FirstName")?.Value
                </p>
                <p>
                    <strong>Efternavn: </strong>@userClaims.FindFirst("LastName")?.Value
                </p>
                <p>
                    <strong>UUID: </strong>@userClaims.FindFirst("UUID")?.Value
                </p>
                <p>
                    <strong>Antal af lånebøger: </strong>@bookCount
                </p>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <p>Login for at se denne side.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    private string bookCount;
    ClaimsPrincipal? userClaims;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        userClaims = authState.User;
        if (userClaims.Identity?.Name != null)
        {
            var loanerBooks = await userClient.GetAllLoanerBooks(userClaims.FindFirst("UUID")?.Value);
            bookCount = loanerBooks.Count.ToString();
        }
    }

}