@page "/CreateUser"
@using HttpClients.ClientInterfaces
@using Domain.DTOs
@inject IUserService userService; 

<div class="card">
    <h3>Create User</h3>
    <div class="form-group field">
        <div>
            <label>First name:</label>
            <input type="text" @bind="firstName" @bind:event="oninput"/>
        </div>
        <div>
            <label>Last name:</label>
            <input type="text" @bind="lastName" @bind:event="oninput"/>
        </div>
        <div>
            <label>Email:</label>
            <input type="text" @bind="email" @bind:event="oninput"/>
        </div>
        <div>
            <label>Password:</label>
            <input type="text" @bind="password" @bind:event="oninput"/>
            @if (!string.IsNullOrEmpty(resultMsg))
            {
                <label style="color: @color">@resultMsg</label>
            }
        </div>
    </div>
    <div class="button-row">
        <button @onclick="Create" disabled="@(string.IsNullOrEmpty(password))" class="acceptbtn">Create</button>
    </div>
</div>


@code {
    private string firstName = "";
    private string lastName = "";
    private string email = "";
    private string password = "";
    private string resultMsg = "";
    private string color = "";


    private async Task Create()
    {
        resultMsg = "";
        color = "black"; // Set a default neutral color if you have such a requirement

        try
        {
    // Await the userService.Create call and ensure the parentheses encompass the entire method call
            await userService.Create(new UserCreationDto(
                firstName,
                lastName,
                email,
                password,
                false
                ));

    // Clear the form fields after successful creation
            firstName = "";
            lastName = "";
            email = "";
            password = "";

    // Set the success message and color
            resultMsg = "User successfully created";
            color = "green";
        }
        catch (Exception e)
        {
            Console.WriteLine(e); // Log the exception to the console
            resultMsg = e.Message; // Set the error message from the exception
            color = "red"; // Set the error color
        }
    }

}