@page "/CreateUser"
@using Microsoft.AspNetCore.Components
@using global::Domain.DTOs
@using JavaPersistenceClient.DAOs
@* @inject IUserService userService; *@

<div class="card">
    <h3>Create User</h3>
    <div class="form-group field">
        <div>
            <label>First name:</label>
            <input type="text" @bind="firstName" @bind:event="oninput" />
        </div>
        <div>
            <label>Last name:</label>
            <input type="text" @bind="lastName" @bind:event="oninput" />
        </div>
        <div>
            <label>Email:</label>
            <input type="text" @bind="email" @bind:event="oninput" />
        </div>
        <div>
            <label>Password:</label>
            <input type="text" @bind="password" @bind:event="oninput" />
            @if (!string.IsNullOrEmpty(resultMsg))
            {
                <label style="color: @color">@resultMsg</label>
            }
        </div>
    </div>
    <div class="button-row">
        <button @onclick="Create" disabled="@(string.IsNullOrEmpty(email))" class="acceptbtn">Create</button>
    </div>
</div>


@code {
    private string firstName = "";
    private string lastName = "";
    private string email = "";
    private string password = "";
    private string resultMsg = "";
    private string color = "";


    private async Task Create()
    {
        resultMsg = "";

        try
        {
            // await userService.Create(new UserCreationDto(username,password));
            firstName = "";
            lastName = "";
            password = "";
            resultMsg = "User successfully created";
            color = "green";
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            resultMsg = e.Message;
            color = "red";
        }
    }
}
