@page "/Login"
@using HttpClients.ClientInterfaces
@using Microsoft.AspNetCore.Components
@using Domain.DTOs
@inject IAuthService authService
@inject NavigationManager navMgr

<CascadingAuthenticationState>

    <AuthorizeView>
        <NotAuthorized>
            <div class="login-card">
                <h3 class="login-title">Please login</h3>
                <div class="login-field">
                    <label for="username">Email</label>
                    <input type="text" id="username" @bind="email" class="login-input"/>
                </div>
                <div class="login-field">
                    <label for="password">Password</label>
                    <input type="password" id="password" @bind="password" class="login-input"/>
                </div>
                @if (!string.IsNullOrEmpty(errorLabel))
                {
                    <div class="login-error">
                        <span>@errorLabel</span>
                    </div>
                }
                <div class="login-field">
                    <button class="login-button" @onclick="LoginAsync">Log in</button>
                </div>
            </div>
        </NotAuthorized>
        <Authorized>
            <div class="login-card">
                <h3>Hello, @context.User.Identity.Name</h3>
            </div>
        </Authorized>
    </AuthorizeView>

</CascadingAuthenticationState>

@code {
    private string email;
    private string password;
    private string errorLabel;

    private async Task LoginAsync()
    {
        errorLabel = "";
        try
        {
            Console.WriteLine("here0");
            var response = await authService.LoginAsync(new UserLoginDto(email, password));

            if (response.Success)
            {
                Console.WriteLine("here1");
                navMgr.NavigateTo("/");
            }
            else
            {
                errorLabel = response.ErrMsg;
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            errorLabel = $"Error: {e.Message}";
        }
    }

}