@using Microsoft.AspNetCore.Components
@namespace Login
@inject NavigationManager navMgr
@* /@inject IAuthService authService  *@

<AuthorizeView>
    <Authorized>
        <div class="lg-container">
            <p class="lb-button" @onclick="Logout">Logout</p>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="lg-container">
            <p class="lb-button" @onclick="Login">Login</p>
            <p class="lb-button" @onclick="Register">Register</p>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {

    private void Login()
    {
        Console.WriteLine("login ui hereerere");
        navMgr.NavigateTo("/Login");
    }

    private async Task Logout()
    {
    // await authService.LogoutAsync();

        navMgr.NavigateTo("/");
    }

    private void Register()
    {
        navMgr.NavigateTo("/Register");
    }

}