@page "/BookCatalog"
@using HttpClients.ClientInterfaces

@inject IBookService bookService; 


<h3>Books</h3>
<div class="">
    <p>ggdad</p>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("gg");
    }

}