.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 500px;
    padding: 25px;
    text-align: center;
    margin: auto;
    margin-top: 90px;
    border-radius: 45px;
    background-color: #9395cc; /* Baggrundsfarve til kortet */
    border: 6px solid #ddd; /* Kortkant */
}

.field {
    margin-top: 20px;
}

.acceptbtn {
    background-color: #007bff;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.button-row {
    margin-top: 35px;
}