.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    max-width: 500px; /* Change width to max-width for responsiveness */
    padding: 25px;
    text-align: center;
    margin: auto;
    margin-top: 90px;
    border-radius: 15px; /* Reduced border-radius */
    background-color: #9395cc; /* Background color for the card */
    border: 2px solid #ddd; /* Reduced border size */
}

.form-group {
    margin-top: 20px;
}

.acceptbtn {
    background-color: #007bff;
    border-radius: 5px;
    padding: 8px 12px; /* Adjusted padding for the button */
    color: white; /* Set text color to white for better visibility */
    cursor: pointer;
}

.button-row {
    margin-top: 20px; /* Reduced margin-top for button row */
}
