@page "/SuccessPage"
@inherits Microsoft.AspNetCore.Components.LayoutComponentBase

<div class="success-page-container">
    <h1>Success-side</h1>
    <p>Din bog er blevet oprettet med succes!</p>
    <p>Eventuelle yderligere succesbeskeder eller indhold kan placeres her.</p>
</div>

@code {
}

